<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" lang="de" class="no-js">
  <head>
    <title>Sauspiel - Schafkopf für Freunde</title>

    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="zdwOU6m44t0c6gaZqghUu0T/r7P1hjzih1p4rrQyCuI=" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-language" content="de">
    <meta name="author" content="Sauspiel GmbH">
    <meta name="description" content="Sauspiel ist die größte Schafkopf-Community. Hier kann um Punkte und um Geld Schafkopf gespielt werden.">
    <meta name="keywords" content="Schafkopf, Schafkopf online, Internet-Schafkopf, Online-Schafkopf, Internet-Schafkopf, Sauspiel Community">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="viewport" content="width = 1000px, minimum-scale = 0.25, maximum-scale = 5 user-scalable = yes" />
    <meta name="application-name" content="Sauspiel">
    <meta name="msapplication-TileImage" content="/images/sauspiel/launch-icon/win8-tile-icon.png">
    <meta name="msapplication-TileColor" content="#1b891a">
    
    <link rel="shortcut icon" href="/images/sauspiel/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/images/sauspiel/launch-icon/apple-touch-icon_iphone.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"   href="/images/sauspiel/launch-icon/apple-touch-icon_ipad.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/sauspiel/launch-icon/apple-touch-icon_iphone@2x.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/sauspiel/launch-icon/apple-touch-icon_ipad@2x.png">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="https://www.sauspiel.de/blog.rss">
    <meta name="apple-itunes-app" content="app-id=378321080" />


    <link rel="stylesheet" media="screen" href="https://www.sauspiel.de/assets/application-0199efdf8444168caa4559ce000271cac7de1b564185ea8cc41778065f215ae1.css" />
    <link rel="stylesheet" media="screen" href="https://www.sauspiel.de/assets/sauspiel/sauspiel-3802d8fc5c7f34d694b130a416b374b8a3368652ea6b5c5da29de22f48d883a5.css" />
    
      <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    function isRetina() {
      return (('devicePixelRatio' in window && devicePixelRatio > 1))
    }

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1180244-1']);
    _gaq.push(['_setCampSourceKey', 'utm_source']);
    _gaq.push(['_setCampMediumKey', 'utm_medium']);
    _gaq.push(['_setCampContentKey', 'utm_content']);
    _gaq.push(['_setCampTermKey', 'utm_keyword']);
    _gaq.push(['_setCampNameKey', 'utm_campaign']);
    _gaq.push(['_setCustomVar', 1, 'isRetina', isRetina() ? 'yes' : 'no']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  </head>

  <body class="sauspiel logged-in ">
    
<div class="statusbar ">
  <ul class="statusbar__content ">
    <li class="statusbar__item statusbar__item_dropdown">
      <div class="statusbar__item-link statusbar__item-link_user">
        <span class="statusbar__userpic_wrapper">
          <img class="statusbar__userpic no-dialogbox" src="https://s.auspiel.de/uploads/profiles/images/000/059/534/forum/__49_176_92602561__20151124_111411.jpg" alt="  49 176 92602561  20151124 111411" />
        </span>
        <span class="statusbar__user-l">
          <span class="statusbar__username-link">
            Sir2B
          </span>
          <span class="statusbar__upgrade-link">
            <span class="membership-status">Mitspieler</span>
          </span>
        </span>
        <i class="statusbar__triangle statusbar__triangle_user"></i>
      </div>
      <ul class="statusbar__dropdown">
        <li class="statusbar__dropdown-item">
          <a class="statusbar__dropdown-link" href="/profil">Mein Profil</a>
        </li>
        <li class="statusbar__dropdown-item">
          <a class="statusbar__dropdown-link" href="/konto-bearbeiten">Konto bearbeiten</a>
        </li>
        <li class="statusbar__dropdown-item">
          <a class="statusbar__dropdown-link" href="/mitgliedschaft">Mitgliedschaft bearbeiten</a>
        </li>
        <li class="statusbar__dropdown-item">
          <a class="statusbar__dropdown-link" href="https://www.sauspiel.de/logout">Ausloggen</a>
        </li>
      </ul>
    </li>
    <li class="statusbar__item statusbar__item_dropdown">
      <span class="statusbar__item-link statusbar__item-link_realmoney">
        <span class="statusbar__label-wrap">
          <span class="statusbar__label">Echtgeld</span>
          € 0,00 +
          € 0,00 Bonus
        </span>
        <i class="statusbar__triangle statusbar__triangle_realmoney"></i>
      </span>
      <ul class="statusbar__dropdown">
        <li class="statusbar__dropdown-item">
          <a class="statusbar__dropdown-link" href="/echtgeld">Einzahlen/Auszahlen</a>
        </li>
        <li class="statusbar__dropdown-item">
          <a class="statusbar__dropdown-link" href="/bankverbindung/bearbeiten">Bankdaten</a>
        </li>
        <li class="statusbar__dropdown-item">
          <a class="statusbar__dropdown-link" href="/echtgeld/bonus">Bonus</a>
        </li>
      </ul>
    </li>
    <li class="statusbar__item statusbar__item_dropdown">
  <span class="statusbar__item-link statusbar__item-link_points">
    <span class="statusbar__label-wrap">
      <span class="statusbar__label statusbar__label_inline statusbar__label_tabular">Spielgeld</span>
      $ 30,00<br>
      <span class="statusbar__label statusbar__label_inline statusbar__label_tabular">Punkte</span>
      P 4640
    </span>
    <i class="statusbar__triangle"></i>
  </span>
  <ul class="statusbar__dropdown">
    <li class="statusbar__dropdown-item">
      <a class="statusbar__dropdown-link" href="/spielgeld/aufladen">Spielgeld aufladen</a>
    </li>
    <li class="statusbar__dropdown-item">
      <a class="statusbar__dropdown-link" href="/punkte/aufladen">Punkte aufladen</a>
    </li>
  </ul>
</li>


      <li class="statusbar__item statusbar__item_right">
        <a class="statusbar__profile-icon statusbar__profile-icon_tournaments" title="Turniere" href="/turniere"><span class='statusbar__icon-label'>Turniere</span></a>
      </li>
    <li class="statusbar__item statusbar__item_right">
      <a class="statusbar__profile-icon statusbar__profile-icon_games" title="Spiele" href="/spiele"><span class='statusbar__icon-label'>Spiele</span></a>
    </li>
      <li class="statusbar__item statusbar__item_right statusbar__item_groups">
        <a href="/vereine" title="Vereine" class="statusbar__profile-icon statusbar__profile-icon_groups " data-count="0">
  <span class="statusbar__icon-label">Vereine</span>
</a>

      </li>
    <li class="statusbar__item statusbar__item_right statusbar__item_messages">
      <a href="/nachrichten" title="Post" class="statusbar__profile-icon statusbar__profile-icon_messages " data-count="0">
  <span class="statusbar__icon-label">Post</span>
</a>

    </li>
    <li class="statusbar__item statusbar__item_right statusbar__item_friends">
      <a href="/freunde" title="Freunde" class="statusbar__profile-icon statusbar__profile-icon_friends " data-count="0">
  <span class="statusbar__icon-label">Freunde</span>
</a>

    </li>
    <li class="statusbar__item statusbar__item_right statusbar__item_profile">
      <a href="/profil" title="Profil" class="statusbar__profile-icon statusbar__profile-icon_profile " data-count="0">
  <span class="statusbar__icon-label">Profil</span>
</a>

    </li>
</div>
  </ul>

<div class="notif notif_profile">
  <i class="notif__arrow"></i>
  <div class="notif__box">
    <div class="notif__header">
      <h4 class="notif__title">Benachrichtigungen</h4>
      <ul class="notif__options">
        <li><a href="/profil">zur Profil-Seite</a></li>
      </ul>
    </div>
    <div class="notif__content">
      <ul class="notif__list">
          <li class="notif__item  notif__item_has-action notif__item_guestbook-new-entry " data-action="/notifications/1194721#guestbook_entry_1017525" data-created="1454057039" data-id="1194721">
  
<a class="userpic userpic_member-free userpic_small " data-userid="366964" data-username="Helmut55" rel="" href="/profile/Helmut55">
  <span class="userpic__pic">
      <img alt="Helmut55" title="Helmut55" class="userpic__img" rel="https://s.auspiel.de/uploads/profiles/images/000/360/846/forum/Portugal0925.jpg" src="https://s.auspiel.de/uploads/profiles/images/000/360/846/forum/Portugal0925.jpg" width="32" height="32" />
    <span class="userpic__badge userpic__badge_free"></span>
  </span>
  <span class="userpic__login">
    Helmut55
  </span>
</a>

  <p class="notif__msg">
    <strong>Helmut55</strong> hat auf Deine Pinnwand geschrieben.
    <span class="notif__timestamp">
        <i class="ic ic_guestbook"></i>
      29.01. 09:43
    </span>
  </p>
</li>
<li class="notif__item  notif__item_has-action notif__item_guestbook-new-entry " data-action="/notifications/1173715#guestbook_entry_1012346" data-created="1453106668" data-id="1173715">
  
<a class="userpic userpic_member-regular userpic_small " data-userid="123826" data-username="Bergsee" rel="" href="/profile/Bergsee">
  <span class="userpic__pic">
      <img alt="Bergsee" title="Bergsee" class="userpic__img" rel="https://s.auspiel.de/uploads/profiles/images/000/118/810/forum/Bergsee.jpg" src="https://s.auspiel.de/uploads/profiles/images/000/118/810/forum/Bergsee.jpg" width="32" height="32" />
    <span class="userpic__badge userpic__badge_regular"></span>
  </span>
  <span class="userpic__login">
    Bergsee
  </span>
</a>

  <p class="notif__msg">
    <strong>Bergsee</strong> hat auf Deine Pinnwand geschrieben.
    <span class="notif__timestamp">
        <i class="ic ic_guestbook"></i>
      18.01. 09:44
    </span>
  </p>
</li>
<li class="notif__item  notif__item_has-action notif__item_friend-request-accepted " data-action="/notifications/1172886#friendship_4030324" data-created="1453049649" data-id="1172886">
  
<a class="userpic userpic_member-free userpic_small userpic_empty" data-userid="301242" data-username="schafkopf-tabi" rel="" href="/profile/schafkopf-tabi">
  <span class="userpic__pic">
      <img alt="schafkopf-tabi" title="schafkopf-tabi" class="userpic__img" rel="https://s.auspiel.de/images/sauspiel/userpic/noavatar-forum.jpg" src="https://s.auspiel.de/images/sauspiel/userpic/noavatar-forum.jpg" width="32" height="32" />
    <span class="userpic__badge userpic__badge_free"></span>
  </span>
  <span class="userpic__login">
    schafkopf-tabi
  </span>
</a>

  <p class="notif__msg">
    <strong>schafkopf-tabi</strong> hat Dein Freundschaftsangebot angenommen.
    <span class="notif__timestamp">
      17.01. 17:54
    </span>
  </p>
</li>
<li class="notif__item  notif__item_has-action notif__item_guestbook-new-entry " data-action="/notifications/1168198#guestbook_entry_1011053" data-created="1452860732" data-id="1168198">
  
<a class="userpic userpic_member-free userpic_small " data-userid="219051" data-username="Cowboy56" rel="" href="/profile/Cowboy56">
  <span class="userpic__pic">
      <img alt="Cowboy56" title="Cowboy56" class="userpic__img" rel="https://s.auspiel.de/uploads/profiles/images/000/220/681/forum/IMG315.jpg" src="https://s.auspiel.de/uploads/profiles/images/000/220/681/forum/IMG315.jpg" width="32" height="32" />
    <span class="userpic__badge userpic__badge_free"></span>
  </span>
  <span class="userpic__login">
    Cowboy56
  </span>
</a>

  <p class="notif__msg">
    <strong>Cowboy56</strong> hat auf Deine Pinnwand geschrieben.
    <span class="notif__timestamp">
        <i class="ic ic_guestbook"></i>
      15.01. 13:25
    </span>
  </p>
</li>
<li class="notif__item  notif__item_has-action notif__item_guestbook-new-entry " data-action="/notifications/1120340#guestbook_entry_999807" data-created="1451028978" data-id="1120340">
  
<a class="userpic userpic_member-regular userpic_small " data-userid="159864" data-username="ohneTrumpf61" rel="" href="/profile/ohneTrumpf61">
  <span class="userpic__pic">
      <img alt="ohneTrumpf61" title="ohneTrumpf61" class="userpic__img" rel="https://s.auspiel.de/uploads/profiles/images/000/161/500/forum/043.JPG" src="https://s.auspiel.de/uploads/profiles/images/000/161/500/forum/043.JPG" width="32" height="32" />
    <span class="userpic__badge userpic__badge_regular"></span>
  </span>
  <span class="userpic__login">
    ohneTrumpf61
  </span>
</a>

  <p class="notif__msg">
    <strong>ohneTrumpf61</strong> hat auf Deine Pinnwand geschrieben.
    <span class="notif__timestamp">
        <i class="ic ic_guestbook"></i>
      25.12.2015 08:36
    </span>
  </p>
</li>
<li class="notif__item  notif__item_has-action notif__item_guestbook-new-entry notif__item_unread" data-action="/notifications/1114044#guestbook_entry_998090" data-created="1450784269" data-id="1114044">
  
<a class="userpic userpic_member-free userpic_small userpic_empty" data-userid="386758" data-username="weistoll" rel="" href="/profile/weistoll">
  <span class="userpic__pic">
      <img alt="weistoll" title="weistoll" class="userpic__img" rel="https://s.auspiel.de/images/sauspiel/userpic/noavatar-forum.jpg" src="https://s.auspiel.de/images/sauspiel/userpic/noavatar-forum.jpg" width="32" height="32" />
    <span class="userpic__badge userpic__badge_free"></span>
  </span>
  <span class="userpic__login">
    weistoll
  </span>
</a>

  <p class="notif__msg">
    <strong>weistoll</strong> hat auf Deine Pinnwand geschrieben.
    <span class="notif__timestamp">
        <i class="ic ic_guestbook"></i>
      22.12.2015 12:37
    </span>
  </p>
</li>

        <li class="notif__loading"></li>
      </ul>
    </div>
    <div class="notif__footer"></div>
  </div>
</div>

<div class="notif notif_friends">
  <i class="notif__arrow"></i>
  <div class="notif__box">
    <div class="notif__header">
      <h4 class="notif__title">Freunde</h4>
      <div class="notif__options">
        <a href="/freunde">Freundesliste</a> <i>•</i> <a href="/freunde/suche">Freunde finden</a>
      </div>
    </div>
    <div class="notif__content">
      <ul class="notif__list">
        <li class="notif__loading"></li>
      </ul>
    </div>
    <div class="notif__footer"></div>
  </div>
</div>

<div class="notif notif_messages">
  <i class="notif__arrow"></i>
  <div class="notif__box">
    <div class="notif__header">
      <h4 class="notif__title">Private Nachrichten</h4>
      <div class="notif__options">
        <a href="/nachrichten">zum Postfach</a> <i>•</i> <a href="/nachrichten/schreiben">neue Nachricht</a>
      </div>
    </div>
    <div class="notif__content">
      <ul class="notif__list">
        <li class="notif__loading"></li>
      </ul>
    </div>
    <div class="notif__footer"></div>
  </div>
</div>

<div class="notif notif_groups">
  <i class="notif__arrow"></i>
  <div class="notif__box">
    <div class="notif__header">
      <h4 class="notif__title">Schafkopfvereine</h4>
      <div class="notif__options">
        <a href="/vereine">zu den Vereinen</a>
      </div>
    </div>
    <div class="notif__content">
      <ul class="notif__list">
        <li class="notif__loading"></li>
      </ul>
    </div>
    <div class="notif__footer"></div>
  </div>
</div>





    <div id="container">

      <div id="logo" class="logo "><a href="/">Schafkopf</a></div>
      <cite id="tagline">Schafkopf für Freunde</cite>

      <div class="site">
        <div id="header">
          
          <ul class="navigation">
  <li class="navigation__item">
    <a class="navigation__link navigation__link_active" href="/"><span>Community</span></a>
  </li>
  <li class="navigation__item">
    <a class="navigation__link" href="/forum"><span>Forum</span></a>
  </li>
  <li class="navigation__item">
    <a class="navigation__link" href="/ehrentribuene"><span>Ehrentribüne</span></a>
  </li>
  <li class="navigation__item">
    <a class="navigation__link" href="/schafkopf-kalender"><span>Kalender</span></a>
  </li>
  <li class="navigation__item">
    <a class="navigation__link" href="/hilfe"><span>Hilfe</span></a>
  </li>
    <li class="navigation__item navigation__item_play navigation__item_dropdown">
    <a class="playgame navigation__link navigation__link_play" href="/schafkopf/spielen"><span class="game-icon">Spielen!</span></a>
    <ul class="navigation__dropdown" id="navigation_game_menu">
      <li class="navigation__dropdown-item">
        <a class="playgame navigation__dropdown-link" href="/schafkopf/spielen?r=1"><span class="navigation__dropdown-marker">&rarr;&nbsp;</span>Wirtschaft</a>
      </li>
      <li class="navigation__dropdown-item">
        <a class="navigation__dropdown-link" href="/mitgliedschaft"><span class="navigation__dropdown-marker">&rarr;&nbsp;</span>Vereinsheim</a>
      </li>
      <li class="navigation__dropdown-item">
        <a class="navigation__dropdown-link" href="/echtgeld"><span class="navigation__dropdown-marker">&rarr;&nbsp;</span>Zockerstubn</a>
      </li>
    </ul>
  </li>


</ul>
<i class="navigation-separator"></i>

        </div>

        <div id="content" data-pjax-container>
          <div id="announcement" class="announcement">
            <div class="announcement__content">
              <p>Um 18:30 Uhr findet heute wieder ein Turnier für unsere Vereinsheimmitglieder statt. <a href="/turniere/779">Hier geht&rsquo;s zur Anmeldung!</a></p>

              <a class="announcement__close" href="/profil/ankuendigung-ausblenden">×</a>
            </div>
            <div class="announcement__shadow"></div>
          </div>
          

          
<div class="profile">
  <div class="profile-picture">
  
<a class="userpic userpic_member-free userpic_big " data-userid="59534" data-username="Sir2B" rel="dialogbox:open" href="https://s.auspiel.de/uploads/profiles/images/000/059/534/original/__49_176_92602561__20151124_111411.jpg">
  <span class="userpic__pic">
      <img alt="Sir2B" title="Sir2B" class="userpic__img" rel="https://s.auspiel.de/uploads/profiles/images/000/059/534/medium/__49_176_92602561__20151124_111411.jpg" src="https://s.auspiel.de/uploads/profiles/images/000/059/534/medium/__49_176_92602561__20151124_111411.jpg" width="140" height="140" />
    <span class="userpic__badge userpic__badge_free"></span>
  </span>
  <span class="userpic__login">
    Sir2B
  </span>
</a>
  <a href="#" class="profile-picture__upload-link">Profilbild ändern</a>

</div>

  <div class="popover popover_profile-picture popover_profile-picture_profile" id="profile_picture_popover">
  <h2 class="popover__title">Profilbild ändern</h2>
  <div class="popover__content">
    <form id="profile_picture_form" class="edit_profile" enctype="multipart/form-data" action="/profil" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="put" /><input type="hidden" name="authenticity_token" value="zdwOU6m44t0c6gaZqghUu0T/r7P1hjzih1p4rrQyCuI=" />
      <p>
        <label for="profile_picture_input">Hier kannst du ein neues Profilbild auswählen:</label>
        <input type="file" name="profile[image]" id="profile_picture_input" size="30"/>
        <input type="submit" name="commit" value="neues Profilbild hochladen" class="small btn-styled default" id="upload_profile_picture" />
        <a class="small hide-profile-picture-popover btn-styled" href="#">Abbrechen</a>
      </p>
      <p class="popover_profile-picture__remove">
        Du möchtest Dein Profilbild löschen? <a href="#" id="delete_profile_picture_link">Klicke hier</a>
        <input type="hidden" name="delete_image" id="delete_profile_picture_input" value="false" />
      </p>
      <p class="popover_profile-picture__hint">
        <strong>Tip:</strong> Du kannst in Zukunft auch einfach ein Bild direkt auf das Profilbild (links) ziehen um Dein Bild zu ändern.
      </p>
</form>    <div class="popover_profile-picture__loading">
      <div class="progress-track" id="profile_picture_progress">
        <div class="progress-value"></div>
      </div>
      <p>
        Das neue Profilbild wird hochgeladen…
      </p>
    </div>
  </div>
  <i class="popover__arrow popover__arrow_left"></i>
</div>



<div class="profile__header your-profile">
  <div class="profile-avatar">
    <div class="swf" id="avatar_container">
      <div id="avatar_placeholder" class="avatar-placeholder"></div>
    </div>
      <a class="small profile-avatar__edit btn-styled" href="/avatar/bearbeiten">Avatar bearbeiten</a>
  </div>

  <div class="profile-info">
    <div class="profile-info__header">
      <h1>Sir2B</h1>
    </div>

    <ul class="profile-info__actions" style="position:relative;">
      <li>
        <a id="edit_about_text" class="small btn-styled" href="/profil/bearbeiten">Profil ändern</a>
      </li>
      <li>
        <a class="small btn-styled" href="/konto-bearbeiten">Persönliche Daten bearbeiten</a>
      </li>
    </ul>

    <p class="profile-info__details">


      Sauspieler&nbsp;seit&nbsp;<strong>22.&nbsp;September&nbsp;2008</strong>
    </p>

    <div class="profile-info__description" id="about_container">
    </div>

    <div class="profile-info__edit-form" id="edit_container" style="display:none">
      <form class="edit_profile" id="edit_profile_59534" enctype="multipart/form-data" action="/profil" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="put" /><input type="hidden" name="authenticity_token" value="zdwOU6m44t0c6gaZqghUu0T/r7P1hjzih1p4rrQyCuI=" />
        <fieldset>
          <label for="about_me_area">Profiltext ändern</label>
          <textarea cols="45" rows="8" id="about_me_textarea" class="js-textarea-resizable" name="profile[about]">
</textarea>
        </fieldset>

        <fieldset class="form-options">
          <p>
            <input type="submit" name="commit" value="Speichern" id="update_profile_button" class="btn-styled default" />
            <a id="cancel_about_edit" class="btn-styled" href="#">Abbrechen</a>
            <a href="#" class="profile-info__edit-profile-picture" rel="popover:for(#profile_picture_popover)">Klick hier wenn Du Dein Profilbild ändern willst</a>
          </p>
        </fieldset>
</form>    </div>
  </div>
</div>



  <ul class="js-tabbed_nav b-tabbed-nav"><li><a class="active" href="/profil"><span>Übersicht</span></a></li>
<li><a href="/profil/pinnwand"><span>Gästebuch</span></a></li>
<li><a href="/profil/freunde"><span>Freunde</span></a></li>
<li><a href="/profil/vereine"><span>Vereine</span></a></li>
<li><a href="/profil/statistik"><span>Statistik</span></a></li></ul>

  <div class="profile-wrapper">
    <div class="component side">

      <div class="header">
        <h3>Auf-Dich-Klicker</h3>
        <p class="description">
          Diese Leute haben sich zuletzt Dein Profil angesehen. <a class="more" href="/profil/auf-dich-klicker">Mehr anzeigen</a>
        </p>
      </div>
      <div class="content">
        <ul class="b-userlist"><li class="b-userlist__item">
<a class="userpic userpic_member-free userpic_medium " data-userid="37615" data-username="portos" rel="" href="/profile/portos">
  <span class="userpic__pic">
      <img alt="portos" title="portos" class="userpic__img" rel="https://s.auspiel.de/uploads/profiles/images/000/037/615/teaser/Fahrzeuge_001.jpg" src="https://s.auspiel.de/uploads/profiles/images/000/037/615/teaser/Fahrzeuge_001.jpg" width="64" height="64" />
    <span class="userpic__badge userpic__badge_free"></span>
  </span>
  <span class="userpic__login">
    portos
  </span>
</a>
</li>
<li class="b-userlist__item">
<a class="userpic userpic_member-free userpic_medium " data-userid="366964" data-username="Helmut55" rel="" href="/profile/Helmut55">
  <span class="userpic__pic">
      <img alt="Helmut55" title="Helmut55" class="userpic__img" rel="https://s.auspiel.de/uploads/profiles/images/000/360/846/teaser/Portugal0925.jpg" src="https://s.auspiel.de/uploads/profiles/images/000/360/846/teaser/Portugal0925.jpg" width="64" height="64" />
    <span class="userpic__badge userpic__badge_free"></span>
  </span>
  <span class="userpic__login">
    Helmut55
  </span>
</a>
</li>
<li class="b-userlist__item">
<a class="userpic userpic_member-regular userpic_medium " data-userid="99796" data-username="magnetar" rel="" href="/profile/magnetar">
  <span class="userpic__pic">
      <img alt="magnetar" title="magnetar" class="userpic__img" rel="https://s.auspiel.de/uploads/profiles/images/000/097/101/teaser/magnetar.jpg" src="https://s.auspiel.de/uploads/profiles/images/000/097/101/teaser/magnetar.jpg" width="64" height="64" />
    <span class="userpic__badge userpic__badge_regular"></span>
  </span>
  <span class="userpic__login">
    magnetar
  </span>
</a>
</li></ul>
      </div>

      <div class="header">
        <h3>Deine Freunde</h3>
        <p class="description"><a class="more" href="/profile/Sir2B/freunde">8 Freunde anzeigen</a></p>
      </div>
      <div class="content">
        <ul class="b-userlist"><li class="b-userlist__item">
<a class="userpic userpic_member-free userpic_medium " data-userid="70131" data-username="da-sperr" rel="" href="/profile/da-sperr">
  <span class="userpic__pic">
      <img alt="da-sperr" title="da-sperr" class="userpic__img" rel="https://s.auspiel.de/uploads/profiles/images/000/070/131/teaser/SL271897.JPG" src="https://s.auspiel.de/uploads/profiles/images/000/070/131/teaser/SL271897.JPG" width="64" height="64" />
    <span class="userpic__badge userpic__badge_free"></span>
  </span>
  <span class="userpic__login">
    da-sperr
  </span>
</a>
</li>
<li class="b-userlist__item">
<a class="userpic userpic_member-free userpic_medium " data-userid="54521" data-username="wickal19" rel="" href="/profile/wickal19">
  <span class="userpic__pic">
      <img alt="wickal19" title="wickal19" class="userpic__img" rel="https://s.auspiel.de/uploads/profiles/images/000/054/521/teaser/100_0158.jpg" src="https://s.auspiel.de/uploads/profiles/images/000/054/521/teaser/100_0158.jpg" width="64" height="64" />
    <span class="userpic__badge userpic__badge_free"></span>
  </span>
  <span class="userpic__login">
    wickal19
  </span>
</a>
</li>
<li class="b-userlist__item">
<a class="userpic userpic_member-free userpic_medium " data-userid="44632" data-username="Oscurus" rel="" href="/profile/Oscurus">
  <span class="userpic__pic">
      <img alt="Oscurus" title="Oscurus" class="userpic__img" rel="https://s.auspiel.de/uploads/profiles/images/000/044/632/teaser/black_wallpaper_cat_head_1600x1200.jpg" src="https://s.auspiel.de/uploads/profiles/images/000/044/632/teaser/black_wallpaper_cat_head_1600x1200.jpg" width="64" height="64" />
    <span class="userpic__badge userpic__badge_free"></span>
  </span>
  <span class="userpic__login">
    Oscurus
  </span>
</a>
</li>
<li class="b-userlist__item">
<a class="userpic userpic_member-free userpic_medium " data-userid="44648" data-username="da_marci" rel="" href="/profile/da_marci">
  <span class="userpic__pic">
      <img alt="da_marci" title="da_marci" class="userpic__img" rel="https://s.auspiel.de/uploads/profiles/images/000/044/648/teaser/218346_1209139764891l.jpg" src="https://s.auspiel.de/uploads/profiles/images/000/044/648/teaser/218346_1209139764891l.jpg" width="64" height="64" />
    <span class="userpic__badge userpic__badge_free"></span>
  </span>
  <span class="userpic__login">
    da_marci
  </span>
</a>
</li>
<li class="b-userlist__item">
<a class="userpic userpic_member-free userpic_medium userpic_empty" data-userid="67823" data-username="daobamoa" rel="" href="/profile/daobamoa">
  <span class="userpic__pic">
      <img alt="daobamoa" title="daobamoa" class="userpic__img" rel="https://s.auspiel.de/images/sauspiel/userpic/noavatar-teaser.jpg" src="https://s.auspiel.de/images/sauspiel/userpic/noavatar-teaser.jpg" width="64" height="64" />
    <span class="userpic__badge userpic__badge_free"></span>
  </span>
  <span class="userpic__login">
    daobamoa
  </span>
</a>
</li>
<li class="b-userlist__item">
<a class="userpic userpic_member-free userpic_medium userpic_empty" data-userid="301242" data-username="schafkopf-tabi" rel="" href="/profile/schafkopf-tabi">
  <span class="userpic__pic">
      <img alt="schafkopf-tabi" title="schafkopf-tabi" class="userpic__img" rel="https://s.auspiel.de/images/sauspiel/userpic/noavatar-teaser.jpg" src="https://s.auspiel.de/images/sauspiel/userpic/noavatar-teaser.jpg" width="64" height="64" />
    <span class="userpic__badge userpic__badge_free"></span>
  </span>
  <span class="userpic__login">
    schafkopf-tabi
  </span>
</a>
</li></ul>
      </div>

        <div class="header">
    <h3>Von hier aus spielst Du</h3>
    <p class="description"><a class="more" href="/karte#geo:,,11">Auf der großen Karten anzeigen</a></p>
  </div>

  <div class="content" id="sidebar_map_module">
      <a class="small js-popover-anchor btn-styled" rel="popover:for(#profile_map_popover)" href="#change_address_form">Jetzt auf der Karte eintragen!</a>
  </div>

  <div class="popover popover_profile-map" id="profile_map_popover">
    <h2 class="popover__title">
      Jetzt auf der Karte eintragen!
    </h2>
    <div class="popover__content">
      <form action="/karte" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="put" /><input type="hidden" name="authenticity_token" value="zdwOU6m44t0c6gaZqghUu0T/r7P1hjzih1p4rrQyCuI=" />
        <p>
          <label for="address">Anschrift</label>
          <textarea name="address" id="address" placeholder="Adresse eingeben...">
Sensauerstraße 1, 85643 Tullling</textarea>
        </p>
        <p class="popover_profile-map__remove">
          <input type="checkbox" name="show_on_map" id="show_on_map" value="1" checked="checked" />
          <label for="show_on_map">Wohnort ist für andere einsehbar</label>
          <span class="popover_profile-map__hint">

          </span>
        </p>
        <p>
          <input type="submit" name="commit" value="Speichern" class="small btn-styled default" />
          <a class="small btn-styled" rel="popover:hide" href="#">Abbrechen</a>
        </p>
</form>    </div>
    <i class="popover__arrow popover__arrow_left"></i>
  </div>

    </div>

    <div id="profile_content" class="component main">

      <div id="profile_statistics">
        <div id="statistics_container">
  <h2>Deine Statistik</h2>
  <ul class="js-tabbed_nav segmented-control">
    <li>
      <a href="#tab:punkte" rel="tab:switch" class="active">
        <span>Punkte</span>
      </a>
    </li>
    <li>
      <a href="#tab:spielgeld" rel="tab:switch">
        <span>Spielgeld</span>
      </a>
    </li>
    <li>
      <a href="#tab:echtgeld" rel="tab:switch">
        <span>Echtgeld</span>
      </a>
    </li>
  </ul>
  
  <div class="profile-stats" id="punkte">
    <h3 class="profile-stats__header">Gespielte Spiele</h3>
    <ul class="profile-stats__list">
      <li class="profile-stats__list-item">
        3085 insgesamt, davon
            89% lange Karte
      </li>
      <li class="profile-stats__list-item">
        31% Spieler,
        16% Partner,
        53% Gegenspieler
      </li>
    </ul>
    <h3 class="profile-stats__header">Angesagte Spiele (davon gewonnen)</h3>
    <ul class="profile-stats__list">
      <li class="profile-stats__list-item">
        70,0% Sauspiele (74%)
      </li>
      <li class="profile-stats__list-item">
        1,7% Farbwenzen (69%)
      </li>
      <li class="profile-stats__list-item">
        1,1% Geier (27%)
      </li>
      <li class="profile-stats__list-item">
        10,3% Wenzen (54%)
      </li>
      <li class="profile-stats__list-item">
        15,0% Farbsoli (62%)
      </li>
    </ul>
    <h3 class="profile-stats__header">Punktestand</h3>
    <ul class="profile-stats__list">
      <li class="profile-stats__list-item">
        Momentan bei P 4640,
        Höchststand bei P 8420
      </li>
    </ul>

    <h3 class="profile-stats__header">Aggressivität</h3>
    <ul class="profile-stats__list">
      <li class="profile-stats__list-item">
        25% Klopfer, 0% Kontra und Retour
      </li>
    </ul>
  </div>

  
  <div class="profile-stats" id="spielgeld" style="display:none">
    <h3 class="profile-stats__header">Gespielte Spiele</h3>
    <ul class="profile-stats__list">
      <li class="profile-stats__list-item">
        0 insgesamt, davon
            --- lange Karte
      </li>
      <li class="profile-stats__list-item">
        --- Spieler,
        --- Partner,
        --- Gegenspieler
      </li>
    </ul>
    <h3 class="profile-stats__header">Angesagte Spiele (davon gewonnen)</h3>
    <ul class="profile-stats__list">
      <li class="profile-stats__list-item">
        --- Sauspiele (---)
      </li>
      <li class="profile-stats__list-item">
        --- Farbwenzen (---)
      </li>
      <li class="profile-stats__list-item">
        --- Geier (---)
      </li>
      <li class="profile-stats__list-item">
        --- Wenzen (---)
      </li>
      <li class="profile-stats__list-item">
        --- Farbsoli (---)
      </li>
    </ul>
    <h3 class="profile-stats__header">Kontostand</h3>
    <ul class="profile-stats__list">
      <li class="profile-stats__list-item">
        Momentan bei $ 0,00,
        Höchststand bei $ 0,00
      </li>
    </ul>

    <h3 class="profile-stats__header">Aggressivität</h3>
    <ul class="profile-stats__list">
      <li class="profile-stats__list-item">
        --- Klopfer, --- Kontra und Retour
      </li>
    </ul>
  </div>

  
  <div class="profile-stats" id="echtgeld" style="display:none">
    <h3 class="profile-stats__header">Gespielte Spiele</h3>
    <ul class="profile-stats__list">
      <li class="profile-stats__list-item">
        0 insgesamt, davon
            --- lange Karte
      </li>
      <li class="profile-stats__list-item">
        --- Spieler,
        --- Partner,
        --- Gegenspieler
      </li>
    </ul>
    <h3 class="profile-stats__header">Angesagte Spiele (davon gewonnen)</h3>
    <ul class="profile-stats__list">
      <li class="profile-stats__list-item">
        --- Sauspiele (---)
      </li>
      <li class="profile-stats__list-item">
        --- Farbwenzen (---)
      </li>
      <li class="profile-stats__list-item">
        --- Geier (---)
      </li>
      <li class="profile-stats__list-item">
        --- Wenzen (---)
      </li>
      <li class="profile-stats__list-item">
        --- Farbsoli (---)
      </li>
    </ul>

    <h3 class="profile-stats__header">Aggressivität</h3>
    <ul class="profile-stats__list">
      <li class="profile-stats__list-item">
        --- Klopfer, --- Kontra und Retour
      </li>
    </ul>
  </div>

</div>


      </div><!-- #profile_statistics -->

      <div id="profile_favgames">
          <h3>
            Lieblingsspiele
          </h3>
          <a id="favgames_teaser" href="/mitgliedschaft">Jetzt Vereinsheim-Mitglied werden!</a>
      </div><!-- #profile_favgames -->

      <div class="header">
        <h3>Gästebuch — Die letzten 3 Einträge</h3>
        <p>
          3 von 47 Einträgen &mdash;
          <a class="more" href="/profile/Sir2B/pinnwand">Alle Einträge anzeigen</a>
        </p>
      </div>
      <div class="content">
        <div class="b-comment-entry b-comment-entry_new">
  <div class="b-comment-entry__w">
    <div class="b-comment-entry__meta">
      <p class="photo pfree  size64">
        
<a class="userpic userpic_member-free userpic_medium " data-userid="59534" data-username="Sir2B" rel="" href="/profile/Sir2B">
  <span class="userpic__pic">
      <img alt="Sir2B" title="Sir2B" class="userpic__img" rel="https://s.auspiel.de/uploads/profiles/images/000/059/534/teaser/__49_176_92602561__20151124_111411.jpg" src="https://s.auspiel.de/uploads/profiles/images/000/059/534/teaser/__49_176_92602561__20151124_111411.jpg" width="64" height="64" />
    <span class="userpic__badge userpic__badge_free"></span>
  </span>
  <span class="userpic__login">
    Sir2B
  </span>
</a>

      </p>
    </div>
    <div class="b-comment-entry__body">
      <form action="/profile/59534/pinnwand" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="zdwOU6m44t0c6gaZqghUu0T/r7P1hjzih1p4rrQyCuI=" />
      <fieldset class="b-comment-entry__fieldset">
        <legend>Neuer Eintrag</legend>
        <textarea name="guestbook_entry[comment]" id="shoutbox_textarea" cols="45" rows="9" class="b-comment-entry__textarea js-textarea-resizable js-emoji-completer"></textarea>
      </fieldset>
      <a class="default js-submit-shoutbox b-comment-entry__submit-button btn-styled" id="shoutbox_submit" data-loading-text="wird abgeschickt…" href="#">senden</a>
</form>    </div>
  </div>
</div>

        <div id="chitchat">
          

  

<div class="b-comment-entry" id="guestbook_entry_49145">
  <div class="b-comment-entry__w">
    <div class="b-comment-entry__meta">

      <p class="photo size64  pfree ">
        
<a class="userpic userpic_member-free userpic_medium " data-userid="50795" data-username="daTubist" rel="" href="/profile/daTubist">
  <span class="userpic__pic">
      <img alt="daTubist" title="daTubist" class="userpic__img" rel="https://s.auspiel.de/uploads/profiles/images/000/050/795/teaser/labrassbanda_uebersee_trikont_458q.jpg" src="https://s.auspiel.de/uploads/profiles/images/000/050/795/teaser/labrassbanda_uebersee_trikont_458q.jpg" width="64" height="64" />
    <span class="userpic__badge userpic__badge_free"></span>
  </span>
  <span class="userpic__login">
    daTubist
  </span>
</a>

      </p>

      <p class="b-comment-entry__created">
        <span class="b-comment-entry__username"><a data-userid="50795" data-username="daTubist" class="profile-link" href="/profile/daTubist">daTubist</a></span>
        20. Oktober 2008, um 15:02
      </p>



      <div class="b-comment-entry__options">&nbsp;
        <a title="Eintrag löschen" rel="comment:delete" href="/pinnwand/49145?dom_id=guestbook_entry_49145">
          <i class="icon delete"></i>
</a>      </div>
    </div>
    <div class="b-comment-entry__body">
      <div class="comment-message-box b-comment-entry__content ">
        <p>jetz mach endlich!!!
</p>
      </div>
    </div>

        
        <div class="b-comment-entry__reply">
          <p class="photo size16  pfree ">
            
<a class="userpic userpic_member-free userpic_small " data-userid="59534" data-username="Sir2B" rel="" href="/profile/Sir2B">
  <span class="userpic__pic">
      <img alt="Sir2B" title="Sir2B" class="userpic__img" rel="https://s.auspiel.de/uploads/profiles/images/000/059/534/forum/__49_176_92602561__20151124_111411.jpg" src="https://s.auspiel.de/uploads/profiles/images/000/059/534/forum/__49_176_92602561__20151124_111411.jpg" width="32" height="32" />
    <span class="userpic__badge userpic__badge_free"></span>
  </span>
  <span class="userpic__login">
    Sir2B
  </span>
</a>

          </p>

          <div class="b-comment-entry__reply-form">
            <form class="js-emoji-filter" id="new_guestbook_entry" action="/profile/59534/pinnwand" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="zdwOU6m44t0c6gaZqghUu0T/r7P1hjzih1p4rrQyCuI=" />
              <input class="parent_id" type="hidden" value="49145" name="guestbook_entry[parent_id]" id="guestbook_entry_parent_id" />
              <textarea class="b-comment-entry__reply-textarea js-textarea-resizable js-emoji-completer" placeholder="Hier kannst Du eine Antwort schreiben…" name="guestbook_entry[comment]" id="guestbook_entry_comment">
</textarea>
              <button class="b-comment-entry__reply-submit btn-styled js-submit-button small">Antwort schreiben</button>
</form>          </div>
        </div>

  </div>
</div>



  

<div class="b-comment-entry" id="guestbook_entry_49133">
  <div class="b-comment-entry__w">
    <div class="b-comment-entry__meta">

      <p class="photo size64  pfree ">
        
<a class="userpic userpic_member-free userpic_medium " data-userid="50795" data-username="daTubist" rel="" href="/profile/daTubist">
  <span class="userpic__pic">
      <img alt="daTubist" title="daTubist" class="userpic__img" rel="https://s.auspiel.de/uploads/profiles/images/000/050/795/teaser/labrassbanda_uebersee_trikont_458q.jpg" src="https://s.auspiel.de/uploads/profiles/images/000/050/795/teaser/labrassbanda_uebersee_trikont_458q.jpg" width="64" height="64" />
    <span class="userpic__badge userpic__badge_free"></span>
  </span>
  <span class="userpic__login">
    daTubist
  </span>
</a>

      </p>

      <p class="b-comment-entry__created">
        <span class="b-comment-entry__username"><a data-userid="50795" data-username="daTubist" class="profile-link" href="/profile/daTubist">daTubist</a></span>
        20. Oktober 2008, um 15:02
      </p>



      <div class="b-comment-entry__options">&nbsp;
        <a title="Eintrag löschen" rel="comment:delete" href="/pinnwand/49133?dom_id=guestbook_entry_49133">
          <i class="icon delete"></i>
</a>      </div>
    </div>
    <div class="b-comment-entry__body">
      <div class="comment-message-box b-comment-entry__content ">
        <p>gruzefix
</p>
      </div>
    </div>

        
        <div class="b-comment-entry__reply">
          <p class="photo size16  pfree ">
            
<a class="userpic userpic_member-free userpic_small " data-userid="59534" data-username="Sir2B" rel="" href="/profile/Sir2B">
  <span class="userpic__pic">
      <img alt="Sir2B" title="Sir2B" class="userpic__img" rel="https://s.auspiel.de/uploads/profiles/images/000/059/534/forum/__49_176_92602561__20151124_111411.jpg" src="https://s.auspiel.de/uploads/profiles/images/000/059/534/forum/__49_176_92602561__20151124_111411.jpg" width="32" height="32" />
    <span class="userpic__badge userpic__badge_free"></span>
  </span>
  <span class="userpic__login">
    Sir2B
  </span>
</a>

          </p>

          <div class="b-comment-entry__reply-form">
            <form class="js-emoji-filter" id="new_guestbook_entry" action="/profile/59534/pinnwand" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="zdwOU6m44t0c6gaZqghUu0T/r7P1hjzih1p4rrQyCuI=" />
              <input class="parent_id" type="hidden" value="49133" name="guestbook_entry[parent_id]" id="guestbook_entry_parent_id" />
              <textarea class="b-comment-entry__reply-textarea js-textarea-resizable js-emoji-completer" placeholder="Hier kannst Du eine Antwort schreiben…" name="guestbook_entry[comment]" id="guestbook_entry_comment">
</textarea>
              <button class="b-comment-entry__reply-submit btn-styled js-submit-button small">Antwort schreiben</button>
</form>          </div>
        </div>

  </div>
</div>



  

<div class="b-comment-entry" id="guestbook_entry_49123">
  <div class="b-comment-entry__w">
    <div class="b-comment-entry__meta">

      <p class="photo size64  pfree ">
        
<a class="userpic userpic_member-free userpic_medium " data-userid="50795" data-username="daTubist" rel="" href="/profile/daTubist">
  <span class="userpic__pic">
      <img alt="daTubist" title="daTubist" class="userpic__img" rel="https://s.auspiel.de/uploads/profiles/images/000/050/795/teaser/labrassbanda_uebersee_trikont_458q.jpg" src="https://s.auspiel.de/uploads/profiles/images/000/050/795/teaser/labrassbanda_uebersee_trikont_458q.jpg" width="64" height="64" />
    <span class="userpic__badge userpic__badge_free"></span>
  </span>
  <span class="userpic__login">
    daTubist
  </span>
</a>

      </p>

      <p class="b-comment-entry__created">
        <span class="b-comment-entry__username"><a data-userid="50795" data-username="daTubist" class="profile-link" href="/profile/daTubist">daTubist</a></span>
        20. Oktober 2008, um 15:02
      </p>



      <div class="b-comment-entry__options">&nbsp;
        <a title="Eintrag löschen" rel="comment:delete" href="/pinnwand/49123?dom_id=guestbook_entry_49123">
          <i class="icon delete"></i>
</a>      </div>
    </div>
    <div class="b-comment-entry__body">
      <div class="comment-message-box b-comment-entry__content ">
        <p>TOBI SPUI MID!!!!!!!!
</p>
      </div>
    </div>

        
        <div class="b-comment-entry__reply">
          <p class="photo size16  pfree ">
            
<a class="userpic userpic_member-free userpic_small " data-userid="59534" data-username="Sir2B" rel="" href="/profile/Sir2B">
  <span class="userpic__pic">
      <img alt="Sir2B" title="Sir2B" class="userpic__img" rel="https://s.auspiel.de/uploads/profiles/images/000/059/534/forum/__49_176_92602561__20151124_111411.jpg" src="https://s.auspiel.de/uploads/profiles/images/000/059/534/forum/__49_176_92602561__20151124_111411.jpg" width="32" height="32" />
    <span class="userpic__badge userpic__badge_free"></span>
  </span>
  <span class="userpic__login">
    Sir2B
  </span>
</a>

          </p>

          <div class="b-comment-entry__reply-form">
            <form class="js-emoji-filter" id="new_guestbook_entry" action="/profile/59534/pinnwand" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="zdwOU6m44t0c6gaZqghUu0T/r7P1hjzih1p4rrQyCuI=" />
              <input class="parent_id" type="hidden" value="49123" name="guestbook_entry[parent_id]" id="guestbook_entry_parent_id" />
              <textarea class="b-comment-entry__reply-textarea js-textarea-resizable js-emoji-completer" placeholder="Hier kannst Du eine Antwort schreiben…" name="guestbook_entry[comment]" id="guestbook_entry_comment">
</textarea>
              <button class="b-comment-entry__reply-submit btn-styled js-submit-button small">Antwort schreiben</button>
</form>          </div>
        </div>

  </div>
</div>




<p>
</p>

        </div>
      </div>
      <a class="more" href="/profile/Sir2B/pinnwand">Zeige alle Einträge aus Sir2Bs Gästebuch</a>
    </div>
  </div>
</div>

        </div>

        <ul class="footer">
  <li class="footer__item">
    <a class="footer__link" href="/schafkopf-app">iPhone/iPad</a>
  </li>
  <li class="footer__item">
    <a class="footer__link" href="/blog">Blog</a>
  </li>
  <li class="footer__item">
    <a class="footer__link" href="/schafkopf-lernen">Schafkopf lernen</a>
  </li>
  <li class="footer__item">
    <a class="footer__link" href="/shop">Fanshop</a>
  </li>
  <li class="footer__item">
    <a class="footer__link" href="/karte">Karte</a>
  </li>
  <li class="footer__item">
    <a class="footer__link" href="/ueber-uns">Über uns</a>
  </li>
  <li class="footer__item">
    <a class="footer__link" href="/presse">Presse</a>
  </li>
  <li class="footer__item">
    <a class="footer__link" href="/partner">Partner</a>
  </li>
  <li class="footer__item">
    <a class="footer__link" href="/agb">AGB</a>
  </li>
  <li class="footer__item">
    <a class="footer__link" href="/impressum">Impressum</a>
  </li>
</ul>

      </div>

    </div>
      <div id="emoji_help_popup" style="display: none">
  <div class="emoji-popup">
    <h1>Emoji-Hilfe</h1>
    <p>
      Ab jetzt kannst Du bei Sauspiel Emoji in Deinen Nachrichten verwenden. Um ein Emoji einzufügen, führe einfach den Namen des Emoji in Doppelpunkten an, z.B. <strong>:lachen:</strong> oder <strong>:herz:</strong> 
      oder <strong>:daumen_hoch:</strong>
    </p>
    <h2>Hier sind alle Emoji die Du bei Sauspiel verwenden kannst</h2>
    <ul class="emoji-list" id="emoji_help_popup_list"></ul>
  </div>
</div>



    <script src="https://www.sauspiel.de/assets/sauspiel/config-66e4e10288d455cd3dbd2a91abf54b02e241e6d99ef0fe09226392d43675376c.js" debug="false"></script>
    <script type="text/javascript">
      App.selectedDeck = "by";
    </script>
    <script src="https://www.sauspiel.de/assets/application-f6e8d9d8139b85f2d5e1840d13376234612e6cceff5c5404d194ad84873fa1aa.js" debug="false"></script>
    <script src="https://www.sauspiel.de/assets/sauspiel-dda21689e0d4ecc8ded7fba16c806e3858bf7414f23aad4541f180ab2f42f370.js" debug="false"></script>

    <script type="text/javascript">
  $(function() {
    new ProfilePictureUploader();
  });
</script>
<script type="text/javascript">
  $(function() {
    $("#edit_about_text, #cancel_about_edit").click(function(event) {
      if (event) event.preventDefault();
      $("#edit_container, #about_container").toggle();
    });
  });
</script>
  <script type="text/javascript">
    $(window).load(function() {
      var config, flashvars;
      flashvars = {"gender":"male","body_id":1,"body_color":"0xF7DDBF","trousers_id":1,"trousers_color":"0x535353","head_id":2,"hair_id":2,"hair_color":"0xAC6625","eyes_id":2,"eyes_color":"0x00B883","brows_id":1,"nose_id":1,"mouth_id":4,"shirt_id":3,"shirt_color":"0xfef7d9","extras_id":3,"voice_id":1,"user_name":"Sir2B"};
      flashvars.avatarMasterURL = '/versioned_assets/sauspiel/avatar/5-0fee794/avatars_sauspiel.swf';
      config = {
        swf: '/swfs/avatar_preview.swf?version=1',
        id: "avatar",
        expressInstall: '/swfs/express_install.swf?version=1',
        width: 113,
        height: 200,
        hasVersion: window.App.flashVersion,
        flashvars: flashvars,
        wmode: "transparent"
      };
      if (($.browser.mozilla != null) && navigator.userAgent.indexOf('Windows') > 0) {
        $.extend(config, {
          wmode: "opaque"
        });
      }
      $("#avatar_placeholder").flash(config);
    });
  </script>
  <script type="text/javascript">
    $("#profile_map_popover").on("popover:visible", function(event) {
      $("#profile_map_popover").find("textarea").select();
    });
  </script>
<script type="text/javascript">
  $(function() {
    $(".rating-gauge").rating();
  });
</script>
<script type="text/javascript">
  $(function() {
    Shoutbox.initialize();
  });
</script>
<script type="text/javascript">
  $(function() {
    new StatusbarPopup("profile", ".notif_profile", "/notifications?group=profile", {
      contentAlreadyPresent: true,
      markAsSeenOnShow: true
    });
    new StatusbarPopup("friends", ".notif_friends", "/notifications?group=friends", {
      endlessScrolling: false,
      markAsSeenOnShow: true
    });
    new StatusbarPopup("messages", ".notif_messages", "/notifications/messages", {
      unorderedIds: true
    });
    new StatusbarPopup("groups", ".notif_groups", "/notifications?group=groups", {
      endlessScrolling: false,
      markAsSeenOnShow: true
    });
  });
</script>
<script type="text/javascript">
  $(function() {
    var touch = ("ontouchstart" in window),
        action = touch ? "touchstart" : "click",
        $dropdownItems = $(".statusbar__item_dropdown");
    $dropdownItems.bind(action, function(event) {
      if ($(this).hasClass("statusbar__item_active")) {
        if (event.target && !$(event.target).is("statusbar__dropddown") && $(event.target).parents(".statusbar__dropdown").length == 0) {
          $(this).removeClass("statusbar__item_active");
          return;
        }
      }
      else {
        $dropdownItems.removeClass("statusbar__item_active");
      }
      $(this).addClass("statusbar__item_active");
    });
    $(document).on(action, function(event) {
      if (event.target && !$(event.target).is(".statusbar__item_dropdown") && $(event.target).parents(".statusbar__item_dropdown").length == 0) {
        $dropdownItems.removeClass("statusbar__item_active");
      }
    });
    if (touch) {
      $(".statusbar__upgrade-link .upgrade-link").click(function(event) {
        event.preventDefault();
      });
      if (!$("body").hasClass("ipad")) {
        $(".statusbar").addClass("statusbar_touch");
        $(".statusbar__disguise").addClass("statusbar__disguise_touch");
      }
    }
  });
</script>
            <script type="text/javascript">
              new Announcement();
            </script>
<script type="text/javascript">
  $(function() {
    $(document).on("dialogbox:open", function(event, element) {
      var $element = $(element);
      var $emojiList = $("#emoji_help_popup_list");
      if ($element && $element.hasClass("js-emoji-help") && !$emojiList.hasClass("js-has-emoji")) {
        var emojiListHTML = "";
        _.each(EmojiHelper.emojis, function(emoji) {
          emojiListHTML += "<li><img src='/images/emoji/unicode/" + emoji.codepoint + ".png' height='20' width='20'><span>" + emoji.name + "</span></li>";
        });
        $emojiList.html(emojiListHTML);
        $emojiList.addClass("js-has-emoji");
      }
    });
  });
</script>



      <script type="text/javascript">
        $(window).load(function() {
          FlashCookie.flashLoaded = function() {
            FlashCookie.set("ucid", $.cookie("ucid"));
          }
        });
      </script>

    <div id="cbcookie" style="display:none"></div>
      <script type="text/javascript">
        $(window).load(function() {
          if ($.flash.hasVersion(window.App.flashVersion)) {
            FlashCookie.embedFlash();
          }
        });
      </script>

    <script type="text/template" id="rte_cards_template">
      <div class="rte-panel">
  <a href="#" class="rte-panel__toggle">Karten einfügen</a>
  <h4 class="rte-panel__title">Klick auf eine Karte um sie im Text einzufügen!</h4>
  <div class="rte-panel__content rte-panel__content_cards">
    <% _.each(["E", "G", "H", "S"], function(suit) { %>
    <ul class="rte-panel__cards">
      <% _.each(App.allowedCards, function(rank) { %>
      <li class="rte-panel__card card-icon card-icon_<%= App.selectedDeck %> card-icon_<%= suit %><%= rank %>" data-wysihtml5-command="insertImage" data-wysihtml5-command-value="<%= location.origin %>/images/common/cards/<%= App.selectedDeck %>/icons/<%= suit %><%= rank %>.png">
        <%= suit %><%= rank %>
      </li>
      <% }); %>
    </ul>
    <% }); %>
  </div>
</div>

    </script>
    
    

  </body>
</html>
