<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" lang="de" class="no-js">
  <head>
    <title>Schafkopf für Freunde - Sauspiel</title>

    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="/ZZkz4kL/C2U1xbAXLlpdbAZLZ2vlxmjrtLu0Z7P9WI=" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-language" content="de">
    <meta name="author" content="Sauspiel GmbH">
    <meta name="description" content="Sauspiel ist die größte Schafkopf-Community im Netz. Hier kannst Du mit über 450.000 Schafkopfern aus Bayern und der ganzen Welt schafkopfen.">
    <meta name="keywords" content="Schafkopf, Schafkopf online, Internet-Schafkopf, Online-Schafkopf, Internet-Schafkopf, Sauspiel Community">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="viewport" content="width = 1000px, minimum-scale = 0.25, maximum-scale = 5 user-scalable = yes" />
    <meta name="application-name" content="Sauspiel">
    <meta name="msapplication-TileImage" content="/images/sauspiel/launch-icon/win8-tile-icon.png">
    <meta name="msapplication-TileColor" content="#1b891a">
    
    <link rel="shortcut icon" href="/images/sauspiel/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/images/sauspiel/launch-icon/apple-touch-icon_iphone.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"   href="/images/sauspiel/launch-icon/apple-touch-icon_ipad.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/sauspiel/launch-icon/apple-touch-icon_iphone@2x.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/sauspiel/launch-icon/apple-touch-icon_ipad@2x.png">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="https://www.sauspiel.de/blog.rss">
    <meta name="apple-itunes-app" content="app-id=378321080" />


    <link rel="stylesheet" media="screen" href="https://www.sauspiel.de/assets/application-0199efdf8444168caa4559ce000271cac7de1b564185ea8cc41778065f215ae1.css" />
    <link rel="stylesheet" media="screen" href="https://www.sauspiel.de/assets/sauspiel/sauspiel-3802d8fc5c7f34d694b130a416b374b8a3368652ea6b5c5da29de22f48d883a5.css" />
    
      <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    function isRetina() {
      return (('devicePixelRatio' in window && devicePixelRatio > 1))
    }

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1180244-1']);
    _gaq.push(['_setCampSourceKey', 'utm_source']);
    _gaq.push(['_setCampMediumKey', 'utm_medium']);
    _gaq.push(['_setCampContentKey', 'utm_content']);
    _gaq.push(['_setCampTermKey', 'utm_keyword']);
    _gaq.push(['_setCampNameKey', 'utm_campaign']);
    _gaq.push(['_setCustomVar', 1, 'isRetina', isRetina() ? 'yes' : 'no']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  </head>

  <body class="sauspiel logged-out ">
    

    <div id="container">

      <div id="logo" class="logo "><a href="/">Schafkopf</a></div>
      <cite id="tagline">Schafkopf für Freunde</cite>

      <div class="site">
        <div id="header">
          <div class="login_essentials">

  <p class="register_now_link">
    <a href="/mitglied-werden">Registrieren</a>
    <span class="bullet-separator">&bull;</span>
    <a href="#" class="fb-btn" id="fb_login_btn">
      <span class="fb-btn__logo">bei Facebook</span>
      <span class="fb-btn__label">Anmelden</span>
    </a>
    <span class="bullet-separator">&bull;</span>
  </p>

  <div class="login-info login-flip" id="login_flip">
    <form action="/login" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="/ZZkz4kL/C2U1xbAXLlpdbAZLZ2vlxmjrtLu0Z7P9WI=" />

      <input type="text" name="login" id="ontop_login" value="" size="12" class="l-qlogin-field" placeholder="Spielername" />
      <input type="password" name="password" id="ontop_password" value="" size="12" class="l-qlogin-field" placeholder="Passwort" />
      <input type="submit" name="commit" value="Einloggen" class="small btn-styled default" />

      <div id="additional_login_fields">
        <input type="checkbox" name="remember_me" id="ontop_rememberme" value="1" checked="checked" />
        <label for="ontop_rememberme">eingeloggt bleiben</label>
        <p>
          <a href="/passwort/vergessen">Passwort vergessen?</a>
        </p>
      </div>


</form>  </div>
</div>

          <ul class="navigation">
  <li class="navigation__item">
    <a class="navigation__link navigation__link_active" href="/"><span>Community</span></a>
  </li>
  <li class="navigation__item">
    <a class="navigation__link" href="/forum"><span>Forum</span></a>
  </li>
  <li class="navigation__item">
    <a class="navigation__link" href="/ehrentribuene"><span>Ehrentribüne</span></a>
  </li>
  <li class="navigation__item">
    <a class="navigation__link" href="/schafkopf-kalender"><span>Kalender</span></a>
  </li>
  <li class="navigation__item">
    <a class="navigation__link" href="/hilfe"><span>Hilfe</span></a>
  </li>
    <li class="navigation__item navigation__item_play navigation__item_play">
    <a class="navigation__link navigation__link_play" href="/login"><span class="game-icon">Spielen!</span></a>
  </li>


</ul>
<i class="navigation-separator"></i>

        </div>

        <div id="content" data-pjax-container>
          

          

<div class="component side">
  <h1>Neu bei Sauspiel?</h1>
  <div class="content">
      <p>
        Bist Du bei Facebook? Dann kannst Du Dir die Anmeldung sparen und sofort mit dem facebook Account Dich bei Sauspiel einloggen:<br><br>
        <fb:login-button scope="email" onlogin="onFacebookLogin();">mit Facebook einloggen</fb:login-button>
      </p>
      <br><br>
      <p>Kein Facebook Account?<br><a href="/mitglied-werden">Bei Sauspiel registrieren...</a></p>
  </div>
</div>

<div class="component main">
  <h1>Bei Sauspiel einloggen</h1>
  <p>Falls Du schon registriert bist, kannst Du Dich hier einloggen.</p>

  <form id="login_form" action="/login" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="/ZZkz4kL/C2U1xbAXLlpdbAZLZ2vlxmjrtLu0Z7P9WI=" />
    <fieldset class="nextto">
      <label for="username_input">Spielername:</label>
      <input type="text" name="login" id="username_input" size="12" class="big" tabindex="1" autofocus="autofocus" />
    </fieldset>

    <fieldset class="nextto">
      <label for="password_input" id="label_password">
        Passwort (<a tabindex="5" href="/passwort/vergessen">vergessen?</a>):
      </label>
      <input type="password" name="password" id="password_input" value="" size="12" class="big" tabindex="2" />
    </fieldset>

    <fieldset id="remember_me_box">
      <input type="checkbox" name="remember_me" id="remember_me_checkbox" value="1" tabindex="3" checked="checked" /> <label for="remember_me_checkbox">auf diesem Computer eingeloggt bleiben</label>
    </fieldset><!-- fieldset#remember_me_box -->

    <fieldset class="form-options">
      <input type="submit" name="commit" value="Einloggen" class="default btn-styled default" tabindex="4" />
    </fieldset>
</form></div>

        </div>

        <ul class="footer">
  <li class="footer__item">
    <a class="footer__link" href="/schafkopf-app">iPhone/iPad</a>
  </li>
  <li class="footer__item">
    <a class="footer__link" href="/blog">Blog</a>
  </li>
  <li class="footer__item">
    <a class="footer__link" href="/schafkopf-lernen">Schafkopf lernen</a>
  </li>
  <li class="footer__item">
    <a class="footer__link" href="/shop">Fanshop</a>
  </li>
  <li class="footer__item">
    <a class="footer__link" href="/karte">Karte</a>
  </li>
  <li class="footer__item">
    <a class="footer__link" href="/ueber-uns">Über uns</a>
  </li>
  <li class="footer__item">
    <a class="footer__link" href="/presse">Presse</a>
  </li>
  <li class="footer__item">
    <a class="footer__link" href="/partner">Partner</a>
  </li>
  <li class="footer__item">
    <a class="footer__link" href="/agb">AGB</a>
  </li>
  <li class="footer__item">
    <a class="footer__link" href="/impressum">Impressum</a>
  </li>
</ul>

      </div>

    </div>

    <script src="https://www.sauspiel.de/assets/sauspiel/config-66e4e10288d455cd3dbd2a91abf54b02e241e6d99ef0fe09226392d43675376c.js" debug="false"></script>
    <script src="https://www.sauspiel.de/assets/application-f6e8d9d8139b85f2d5e1840d13376234612e6cceff5c5404d194ad84873fa1aa.js" debug="false"></script>
    <script src="https://www.sauspiel.de/assets/sauspiel-dda21689e0d4ecc8ded7fba16c806e3858bf7414f23aad4541f180ab2f42f370.js" debug="false"></script>

          <script type="text/javascript">
        $(function() {
          new Loginflip();
          $("#fb_login_btn").on("click", function(event) {
            event.preventDefault();
            FB.login(onFacebookLogin, { scope: "email" });
          });
        });
      </script>




    <div id="cbcookie" style="display:none"></div>
      <script type="text/javascript">
        $(window).load(function() {
          if ($.flash.hasVersion(window.App.flashVersion)) {
            FlashCookie.embedFlash();
          }
        });
      </script>

    <script type="text/template" id="rte_cards_template">
      <div class="rte-panel">
  <a href="#" class="rte-panel__toggle">Karten einfügen</a>
  <h4 class="rte-panel__title">Klick auf eine Karte um sie im Text einzufügen!</h4>
  <div class="rte-panel__content rte-panel__content_cards">
    <% _.each(["E", "G", "H", "S"], function(suit) { %>
    <ul class="rte-panel__cards">
      <% _.each(App.allowedCards, function(rank) { %>
      <li class="rte-panel__card card-icon card-icon_<%= App.selectedDeck %> card-icon_<%= suit %><%= rank %>" data-wysihtml5-command="insertImage" data-wysihtml5-command-value="<%= location.origin %>/images/common/cards/<%= App.selectedDeck %>/icons/<%= suit %><%= rank %>.png">
        <%= suit %><%= rank %>
      </li>
      <% }); %>
    </ul>
    <% }); %>
  </div>
</div>

    </script>
    <div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '489871601057195', status: true, cookie: true, xfbml: true, oauth: true});
    window.onFacebookLogin = function(){
      if (FB.getAuthResponse()) {
        window.location.href = '/facebook/?fb_connect=1';
      } else {
        alert("Wir können Dich nicht per Facebook einloggen, weil Du keine Cookies von anderen Seiten zulässt. Bitte ändere Deine Browser-Einstellungen, oder melde Dich per E-Mail an.");
      }
    };
  };
  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/de_DE/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
</script>

    

  </body>
</html>
